<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Images</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/dashboard">&#129479 WH</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Browse</a>
              </li>
              <li class="nav-item">
                {% if session['uuid'] %}
                  <a class="nav-link" href="/new/waffle">New Post</a>
                {% endif %}
              </li>
            </ul>
          </div>
      {% if session['uuid'] %}
        <a class="btn btn-danger btn-md" href="/logout">Log Out</a>
      {% endif %}
      {% if not session['uuid'] %}
        <a class="btn btn-warning btn-md" href="/logout">Sign Up</a>
      {% endif %}
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h3>Waffle images</h3>
          </div>
          <div class="col">
            <h5 class="text-center"><em>"Sleep is just a time machine to waffles."</em></h5>
          </div>
          <div class="col">
          </div>
        </div>
      </div>


<div class="container-fluid">
  <div class="row">
    {% for waffle in waffles %}
    <div class="col">
      <img src="{{waffle.img_url}}" class="img-fluid" alt="waffle">
    </div>
    {% endfor %}
  </div>
</div>


</body>
</html>